* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

html:root {
  --white: #e0e0e0;
  --black: #1f1f1f;
  --brown: #b49b73;
  --brown-opacity: #b49b7380;
  --green: #23874b;
  --green-opacity: #23874b80;
  --gray-light: #cccccc;
  --gray-dark: #333333;
}

html[data-theme="light"]:root {
  --theme: var(--white);
  --color: var(--black);
}

html[data-theme="dark"]:root {
  --theme: var(--black);
  --color: var(--white);
}

body {
  max-width: 100vw;
  min-height: 110vh;
  background-color: var(--theme);
  overflow-x: hidden;
  font-family: "Average Sans", serif;
}

.btn {
  width: auto;
  height: auto;
  padding: 5px 20px;
  background-color: var(--brown) !important;
  border: 2px solid var(--theme) !important;
  outline: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px var(--brown-opacity);
  color: var(--theme) !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.95;
}

.btn:active {
  opacity: 0.9;
}

.logo-link {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--brown);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 38px;
  user-select: none;
}

.logo-link .wood {
  font-weight: 900;
}

.logo-link .world {
  font-weight: 100;
}

.container {
  width: 90%;
  max-width: 1520px;
  height: 100%;
  margin: 0 auto;
}

.h2 {
  color: var(--color);
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

.h5 {
  color: var(--color);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.p {
  color: var(--color);
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75px;
  background-color: var(--theme);
  border-bottom: 2px solid var(--theme);
  border-radius: 0 0 25px 25px;
  box-shadow: 0 2px 2px var(--brown-opacity);
}

.nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .dropdown {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.main {
  width: 100%;
  min-height: 100vh;
}

.section {
  width: 100%;
  height: auto;
}

.section__content {
  width: 100%;
  height: 100%;
  padding: 75px 0 25px;
}

#main__section {
  padding: 275px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/images/wood-world-bg.jpg");
  border-bottom: 2px solid var(--theme);
  border-radius: 0 0 25px 25px;
  box-shadow: 0 2px 2px var(--brown-opacity);
  animation: mainSection 1s ease-in-out;
}

@keyframes mainSection {
  0%,
  25% {
    padding: 0;
  }

  100% {
    padding: 275px 0;
  }
}

.dropdown-menu {
  background-color: var(--color);
  left: auto !important;
  right: 0 !important;
}

.dropdown-item {
  background-color: var(--color);
  color: var(--theme);
}

.dropdown-item:hover,
.dropdown-item:active {
  background-color: var(--theme);
  color: var(--color);
}

#works__section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

#works__section__content .cards-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px;
}

#works__section__content .card {
  width: calc(33.333% - 75px) !important;
  background-color: var(--theme);
  box-shadow: 1px 1px 3px var(--brown);
  border: 2px solid var(--theme);
  transition: 0.15s ease-in-out;
}

#works__section__content .card:hover {
  transform: scale(1.015);
}

#works__section__content .card .card-title,
#works__section__content .card .card-text {
  color: var(--color);
}

#works__section__content .card img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 200px;
}

#about__section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

#about__section__content p {
  text-indent: 35px;
}

.footer {
  width: 100%;
  height: 75px;
  background-color: var(--theme);
  border-top: 2px solid var(--theme);
  border-radius: 25px 25px 0 0;
  box-shadow: 0 -2px 2px var(--brown-opacity);
}

.footer__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__content .contact-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__content .contact-block h4 {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.footer__content .contact-block a {
  color: var(--brown);
  text-decoration: none;
  font-size: 18px;
}

.footer__content .contact-block a:hover {
  text-decoration: underline;
  font-weight: 600;
}